@import 'react-toastify/dist/ReactToastify.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter, sans-serif;
  color: #fff;
  background: #0d0d0d;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.Toastify__toast-theme--dark.Toastify__toast--success {
  border: 1px solid #0a6638;
}

.Toastify__toast-theme--dark.Toastify__toast--error {
  border: 1px solid #660a1d;
}
