@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter, sans-serif;
  color: #fff;
  background: #0d0d0d;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
